/* RESETS CSS GLOBALLY  TO REMOVE DEFAULT SPACES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body, .navbar-container {
    background-color: #1B1B1B
    ;
}

/* HOVER EFFECT FOR ALL ANCHOR TAGS */
.hover-effect {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  .hover-effect:hover {
    color: #ff6609; 
    transform: scale(1.1); 
  }
  

/* MAIN CONTAINER */
/* I USE REM FOR SIZING, IT STANDS FOR ROOT EM AND IS MORE EFFICIENT FOR SIZING IN CERTAIN CASES  */
.navbar-container {
    padding: 50px;
}

/* IM USING FLEX BOX HERE TO LAYOUT THE NAVBAR IN A ROW AND APPLY SPACE BETWEEN ELEMENTS  */
.navbar { 
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}
/* IM USING FLEX BOX TO P[ROVIDE SPACE BETWEEN THE LINKS FOR A BETTER VISUAL LOOK */
.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
    margin-right: 10rem;
}
/* FONT STYLIGN FOR THE PAGE */
.navbar-font {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

/* Targeting links within .nav-links */
.nav-links a {
    color: white;           /* Set link color to white */
    text-decoration: none;  /* Remove underline */
    padding: 10px 15px;    /* Add some padding for spacing */
}

/* HEADER STYLING */
.banner-header {
    background-image: url('./assets/latin-fusion-banner.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}

.banner-header h1 {
    background-color: transparent;
}

/* ABOUT SECTION  */
.box-container {
    display: flex;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    height: 35rem;
    width: 50%;
    padding: 4rem;
    border: 1px solid orange;
}

/* I ADD A POSITION RELATIVE SO I CAN LATER HAVE THE OVERLAY BE MOVED WITHIN THIS CONTAINER  */
.about-box-2 {
    position: relative; 
    width: 50%;
    height: 35rem;
    /* OVERFLOW MAKES SURE THAT THE IMAGE DOESNT EXCEED THE DIV ELEMENT   */
    overflow: hidden; 
}

.about-box-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without distortion */
}

/* THIS OVERLAY IS PLACED OVER THE DIV ELEMENT THAT WILL FEATURE A BUTTON ON HOVER */
.overlay {
    /* ABSOLUTE POSITIONING WILL ALLOW ME TO POSITION THE OVERLAY WITHIN ITS RELATIVE PARENT WHICH I CALLED ABOVE */
    position: absolute; 
    /* THIS KEEPS THE OVERLAY CENTERED IN ITS PARENT ELEMENT */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /***********/
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex; 
    gap: 10px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    /* APPLIES A TRANSITION UTILIZING OPACITY AND A BUILT IN CSSS LIBRARY, USING EASY TO MAKE IT SMOOTH */
    transition: opacity 0.3s ease; 
}
/* THIS IS HOW WE APPLY HOVER EFFECTS, IN THIS CASE APPLIED TO THE OVERLAY */
.about-box-2:hover .overlay {
    opacity: 1; 
}

.overlay-button {
    padding: 10px 20px;
    background-color: #FF5733; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.overlay h3 {
    background-color: transparent;
}

/* LOCATION */
.map-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 50%;
}

/* CONTACT US*/
.full-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    height: 30rem;
    width: 100%;
    padding: 4rem;
    border: 1px solid orange;
}

.full-box h1 {
    margin-bottom: 10px;
}

.full-box p {
    width: 60%;          
    margin: 0 auto;        
    line-height: 1.6;      
}

/* MENU */
.menu-bg {
    background-image: url('./assets/menu-bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 50rem; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 2rem;
    color: white; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}

.menu-bg table {
    margin: 15rem;
    
}

#table-title {
    margin-bottom: 30px;
}

table td {
    padding: 4px;
}